{% extends 'base.html' %}

{% block content %}
    <div class="upload">
        <div class="upload-btn-wrapper">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <label>CHOOSE YOUR DEPARTMENT:</label>
                {% for dpt in departments %}
                    <input type="radio" name="department" class="option-input radio" checked="checked" value="{{ dpt.department }}">
                    <div class="department-name">  {{ dpt.department }}</div><br>
                {% endfor %}
                <button class="btn" type="submit">Upload a file</button>
            </form>
        </div>


    </div>

    <div class="share">
         <div class="upload"><label>SHARED FILES:</label></div>
        <div class="refresh"><button class="refresh-btn">Refresh</button></div>

        <br>
        <ol class="document-shared">
            {% for obj in documents %}
                <li class="{{ obj.id }}">
                    <a href="{{ obj.document.url }}">{{ obj.description }}</a>
                    <small>(Uploaded at: {{ obj.uploaded_at }})</small>
                        {% if obj.get_ip_of_document == ip %}
                            <a href="#" data-id="{{ obj.id }}" data-action="delete" class="delete-document">DELETE</a>
                        {% endif %}

                </li>
            {% endfor %}
        </ol>
    </div>

{% endblock %}
{% block domready %}
    $('.refresh-btn').click(function(){
        window.location.reload();
    });

    $('a.delete-document').click(function(e){
    if (confirm('Are you sure?')) {
    e.preventDefault();
    $.post('{% url "delete_document" %}',
    {
    id: $(this).data('id'),
    action: $(this).data('action')
    },
    function(data){
    if (data['status'] == 'ok')
    {
    var $id = '.' + (data['document-id']);
    $($id).remove();
    }
    }
    );
    }
    });
{% endblock %}