{% extends 'base.html' %}
{% block title %} Select Shared Documents {% endblock %}

{% block content %}
    <a href="/admin/core/department/">>>>Manage the list of Departments<<<</a>
    <p class="shared-document">SELECT DOCUMENTS TO SHARE:</p>
    <br>
    <form method="post">
        {% csrf_token %}
        {% for d in documents %}
            <div class="department-name"><input type="checkbox" class="checkbox" name="document" value="{{ d.id }}"
                                                checked="checked">{{ d.description }}<br></div>
        {% endfor %}
        {% for hd in hidden_documents %}
            <div class="department-name"><input type="checkbox" class="checkbox" name="document"
                                                value="{{ hd.id }}">{{ hd.description }}<br></div>
        {% endfor %}
        <br>
        <input type="submit" class="submit" value="Save">
    </form>

{% endblock %}
{% block domready %}

   $(".submit").click(function (e) {
    e.preventDefault();
    var checkbox_value = "";
    $(":checkbox").each(function () {
        var ischecked = $(this).is(":checked");
        if (ischecked) {
            checkbox_value += $(this).val() + "|";
        }
    });
    // your awesome code calling ajax
    $.post('{% url "save_shared_documents" %}',
    {
    id: checkbox_value
    },
    function(data){
        location.reload(true);
    }
    );
    });
{% endblock %}